.form-container {
    width: 418px;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 110px;
    margin-bottom: 80px;
    display: flex;
    color: black;
    background-color: white;
    position: relative;
    border: 1px solid (0,0,0, .2);
    font-weight: 400;
}


form {
    width: 418px;
}

.form-header {
    height: 47px;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
}

.close-button {
    font-family: 'Roboto', sans-serif;
    color: rgb(94, 101, 115);
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 23px;
    line-height: 18.4px;
    font-weight: 200;
    line-height: 18.4px;
    background-color: white !important;
    border: 0px, none, white !important;
    margin-right: 15px;
    margin-top: 15px;
}

.auth-login {
    display: block;
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-left: 54px;
    margin-right: 54px;
}


.login-message {
    display: block;
    color: rgb(94, 101, 115);
    font-size: 24px;
    font-family: 'Graphik';
    font-weight: 300;
    width: 250px;
    margin-bottom: 24px;
    text-align: left;
}

.login-dialogue {
    
}

.demo-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 87, 157);
    border: 0px none black;
    cursor: pointer;
    font-weight: 600;
    height: 56px;
    line-height: 18px;
    width: 308px;
}

.demo-login-text {
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    width: 169px;
}

.panel-divider {
    display: flex-start;
    border: .5px solid rgb(235, 237, 242);
    font-size: 16px;
    height: 2px;
    margin-top: 27px;
    margin-bottom: 23px;
    width: 308px;
    text-align: center;
}

.or {
    background-color: white;
    color: rgb(94, 101, 115);
    font-weight: 600;
    width: 24px;
    margin-top: -12px;
    margin-left: 139px;
}

.form-label {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: rgb(94, 101, 115);
    font-size: 12px;
    font-weight: 600px;
    height: 18px;
    letter-spacing: 0.5px;
    width: 40px;
}

.hulu-login-input {
    background-color: rgb(232, 240, 254);
    border: 1px solid rgb(206,210,218);
    cursor: text;
    font-size: 100%;
    font-weight: 400;
    height: 48px;
    margin-bottom: 21px;
    margin-top: 5px;
    padding-bottom: 1px;
    padding-left: 11px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: start;
    width: 308px;
    box-sizing: border-box;
}

.forgot-password-container {
    color: rgb(51, 112, 187);
    cursor: pointer;
    display: flex;
}

.submit-button {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    width: 308px;
    color: white;
    cursor: pointer;
    margin-bottom: 41px;
    margin-top: 20px;
    text-align: center;
    height: 56px;
    font-size: 14px;
    line-height: 15px;
}

.footer-container {
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: rgb(174, 180, 191);
    justify-content: center;
    border-top: 1px solid rgb(235, 237, 242);
    padding-top: 25px;
    padding-bottom: 25px;
}

.form-link {
    color: rgb(51, 112, 187);
    cursor: pointer;
}   

.error-message {
    font-family: 'Graphik';
    margin-top: 20px;
    font-size: 16px;
    color: red;

}
    