
.header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 82px;
    z-index: 1000;
}

.nav-logo {
    width: 90px;
    height: 72px;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: white;
    font-size: 24px;
    margin-top: 30px;
}

.navigation-container {
    padding-left: 40px;
    padding-right: 40px; 
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1;
    
}

.nav-buttons {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.nav-button-signup {
    color: #FCFCFC;
    margin: 0px 32px 0px 0px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.nav-button-login {
   border: none;
   color:  white;
   margin: 4px 0px;
   padding: 17px 0px 17px;
   font-size: 14px;
   font-weight: 600;
   letter-spacing: 2px;
   cursor: pointer;
}

.nav-button-login:hover {
    color: darkgray;
}

.nav-button-signup:hover {
    color: darkgray;
}


.navbar {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: top 0.6s;
}

.navbar--hidden {
  top: -1px;
}