
.header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 40;
    height: 82px;
}

.nav-logo {
    width: 90px;
    height: 72px;
    margin: 0, 30, 0, 0;
    padding-top: 8px;
    box-sizing: border-box;
}

.navigation-container {
    padding-left: 40px;
    padding-right: 40px; 
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Futura Md BT Medium';
    font-size: 1rem;
    
}

.nav-buttons {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.nav-button-signup {
    background-color: #262930;
    color: #FCFCFC;
    margin: 4px 32px 0px 0px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
}

.nav-button-login {
   border: none;
   color:  #5E6573;
   margin: 4px 0px;
   padding: 31px 0px 17px;
   font-size: 14px;
   font-weight: 600;
   border-bottom: 5px solid white;
}

.nav-button-login {
   cursor: pointer;
}

.nav-button-signup {
   cursor: pointer;
}

