.index-header-container {
    transition-duration: 1s;
    padding-left: 16px;
    padding-right: 36px;
    line-height: 24px;
    font-weight: 900;
    font-size: 14px;
    color: black;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, .90);
    z-index: 10000;
}

.hidden-header {
    transition-duration: 1s;
    padding-left: 16px;
    padding-right: 36px;
    line-height: 24px;
    font-weight: 900;
    font-size: 14px;
    color: white;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    z-index: 500;
}

.nav-container {
    display: flex;
    height: 72px;
    letter-spacing: .5px;
    width: 30%;
    padding-bottom: 5px;
}

.logo-link {
    display: flex;
    width: 30%;
}

.logo-link:hover {
    color: gray;
    cursor: pointer;
}

.logo {
    height: 72px;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


.categories-left {
    width: 20%;
    height: 100%;
}

.categories-left-items {
    height: 80%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    border-right: 1px solid lightgray;
    visibility: hidden;
}

.categories-left-li {
    margin-bottom: 20px;
}

.categories-left-li:hover {
    color: gray;
    cursor: pointer;
}

.categories-right {
    width: 80%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.categories-right-ul {
    display: flex;
    width: 22%;
    height: 100%;
    flex-direction: column;
    align-items: space-around;
    padding: 10px;
    visibility: hidden;
}

.category-btn {
    margin-bottom: 15px;
    font-weight: 300;
}

.category-btn:hover {
    color: gray;
    cursor: pointer;
}

.cat {
    margin-top: 10%;
}

.cat-link {
    height: 72px;
    width: 30%;
    display: flex;
    margin-left: 20px;
}

.cat-link:hover {
    color: gray;
    cursor: pointer;
}

 .categories-tab {
    transition-duration: 0.5s;
    position: absolute;
    width: 90vw;
    height: 0;
    left: 5%;
    top: 72px;
    display: flex;
    color: #292C33;
    background-color: rgba(255, 255, 255, .95);
}

.cat-link:hover .categories-tab{
    transition-duration: 0.5s;
    height: 61.5vh;
    border: 1px solid rgb(240, 239, 239);
}

.cat-link:hover .categories-right-ul {
    transition-delay: 0.125s;
    visibility: visible;
}

.cat-link:hover .categories-left-items{
    transition-delay: 0.125s;
    visibility: visible;
}

.cat-link:hover .categories-right{
    padding: 20px;
}

.cat-button {
    padding-top: 10px;
    width: 28px;
    height: 20px;
}

.cat-text {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
}

.stuff-link {
    width: 30%;
    display: flex;
}

.stuff-link:hover {
    color: gray;
    cursor: pointer;
}

.fa-check-square {
    padding-top: 10px;
    width: 27px;
    height: 20px;
}

.stuff {
    margin-top: 10%;
}

.stuff-text {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    align-items: center;
}

.empty-space {
    width: 45%;
    height: 30px;
}

.user-container {
    width: 25%;
    display: flex;
    align-items: center;
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-left: 15px;
}

.search:hover {
    color: gray;
    cursor: pointer;
}

.search-btn{ 
    height: 24px;
    width: 24px;
}

.profile {
    width: 50%;
    display: flex;
}

.profile:hover {
    color: gray;
    cursor: pointer;
}

.profile-btn {
    margin-left: 5px;
    height: 30px;
    width: 30px;
    background-color: #292C33;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3px;
    font-family: 'Galatik';
}   

.profile-text {
    padding-left: 10px;
    padding-top: 3px;
}

.profile:hover .drop-down-container {
    display: block;
}

.drop-down-container {
    display:none;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .95);
    right: 30px;
    top: 55px;
    border: 1px solid rgb(240, 239, 239);
    width: 300px;
    font-size: 14px;
    box-shadow: 10px 10px 50px 5px lightgray;
    letter-spacing: .5px;
}

.night-mode {
    display: flex;
    height: 80px;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(240, 239, 239);
    color: #6B7790;
}

.drop-down-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10%;
    box-sizing: border-box;
    padding: 25px;
    color: #6B7790;
}

.drop-down-items li:hover {
    color: black;
    cursor: pointer;
}

