// .hub {
//     height: 1750px;
// }

.masthead-thumbnail {
        // background-image: image-url('kung_movie_7.jpeg');
        background: (linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),image_url('kung_movie_7.jpeg')) ;
        background-size: cover;
        background-position: center;
        height: 588px;
    }
    
    .hub-container {
        margin-left: 40px;
        margin-right: 40px;
        height: 100px;
        border: 1px solid black;
    }

    .slider {
        display: flex;
        height: 500px;
        padding-bottom: 48px;
    }

    .slider-movie-1 {
        margin-top: -80px;
        width: 25%;
        background-image: image_url('kung_movie_3');
        background-size: cover;
        background-position: center;
    }

     .slider-movie-2 {
        margin-top: -80px;
        width: 25%;
        background-image: image_url('kung_movie_2');
        background-size: cover;
        background-position: center;
    }

     .slider-movie-3 {
        margin-top: -80px;
        width: 25%;
        background-image: image_url('kung_movie_1');
        background-size: cover;
        background-position: center;
    }

     .slider-movie-4 {
        margin-top: -80px;
        width: 25%;
        background-image: image_url('kung_movie_5');
        background-size: cover;
        background-position: center;
    }

    .shows-container {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
      .movies-container {
        margin-top: 30px;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    // .index-end {
    //     position: absolute;
    //     bottom: 20px;
    //     width: 50%;
    //     height: 100px;
    //     border: 1px solid black;
    // }