
    body i {
       font-family:'FontAwesome'!important;
    }

    .masthead-thumbnail {
        background: (linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),image_url('kung_movie_7.jpeg')) ;
        background-size: cover;
        background-position: center;
        height: 588px;
        display: flex;
        align-items: center;
    }
    
    .thumbnail-details {
       font-size: 18px;
       width: 50%;
       height: 285px;
       color: white;
       margin-left: 100px;
       margin-top: 30px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       font-family: 'Quicksand', sans-serif;
    }

    .thumbnail-details-title {
        font-size: 52px;
        font-weight: 300;
        margin-top: 30px;
        font-family: 'Quicksand', sans-serif;
    }

    .hub-container {
        margin-left: 40px; 
        margin-right: 40px;
        height: 100%;
        font-family: 'Quicksand', sans-serif;
    }

    .slider {
        display: flex;
        height: 500px;
        padding-bottom: 48px;
        font-family: 'Quicksand', sans-serif;
    }

    .slider-movie-1 {
        margin-top: -80px;
        width: 25%;
        background-color: white;
        background-image: linear-gradient(to top, rgba(31, 93, 185, 0.6) 0%, rgba(255, 255, 255, 0.1) 70%), image_url('kung_movie_3');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        cursor: pointer;
    }

    .thumbnail-details-info-links {
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .thumbnail-play-text {
        margin-left: 10px;
        margin-right: 20px;
    }

    .slider-1-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        width: 100%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .slider-1-info-details {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        height: 75%;
        width: 100%;
        margin: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }

    .slider-movie-1:hover .slider-1-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        background-color:rgba(31, 93, 185, 0.9);
    }

    .slider-movie-1:hover .slider-info-buttons {
        transition-delay: 0.25s;
        visibility: visible;
        height: 33%;
        width: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        color: gray;
    }

    .slider-info-buttons:hover {
        color: white;
    }

   .slider-info-buttons {
        visibility: hidden;
    }

    .slider-1-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 150px;
        font-size: 32px;
    }

    .slider-movie-1:hover .slider-1-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 10px;
    }

     .slider-1-info-li {
        visibility: hidden;
    }

     .slider-1-description {
        width: 80%;
        visibility: hidden;
    }

     .slider-movie-1:hover .slider-1-description {
         width: 80%;
         transition-delay: 0.5s;
         visibility: visible;
     }

      .slider-movie-1:hover .slider-1-info-li {
         transition-delay: 0.5s;
         visibility: visible;
     }

     //Image 2



    .slider-movie-2 {
        margin-top: -80px;
        width: 25%;
        background-color: white;
        background-image: linear-gradient(to top, rgba(31, 93, 185, 0.6) 0%, rgba(255, 255, 255, 0.1) 70%), image_url('kung_movie_2');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        cursor: pointer;
        
    }

    .slider-2-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        width: 100%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    
    .slider-2-info-details {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        height: 75%;
        width: 100%;
        margin: 0px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }

    .slider-movie-2:hover .slider-2-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        background-color:rgba(31, 93, 185, 0.9);
    }

    .slider-movie-2:hover .slider-info-buttons {
        transition-delay: 0.5s;
        visibility: visible;
        height: 33%;
        width: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        color: gray;

    }

    .slider-2-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 200px;
        font-size: 32px;
    }

    .slider-movie-2:hover .slider-2-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 10px;
    }

     .slider-2-info-li {
        visibility: hidden;
    }

     .slider-2-description {
        width: 80%;
        visibility: hidden;
    }

     .slider-movie-2:hover .slider-2-description {
         width: 80%;
         transition-delay: 0.5s;
         visibility: visible;
     }

      .slider-movie-2:hover .slider-2-info-li {
         transition-delay: 0.5s;
         visibility: visible;
     }


     //movie 3



    .slider-movie-3 {
        margin-top: -80px;
        width: 25%;
        background-image: linear-gradient(to top, rgba(31, 93, 185, 0.6) 0%, rgba(255, 255, 255, 0.1) 70%), image_url('kung-fu-panda-4');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        cursor: pointer;
        
    }

    .slider-3-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        width: 100%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column
    }
    
    .slider-3-info-details {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        height: 75%;
        width: 100%;
        margin-left: 30px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }

    .slider-movie-3:hover .slider-3-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        background-color:rgba(31, 93, 185, 0.9);
    }

    .slider-movie-3:hover .slider-info-buttons {
        transition-delay: 0.5s;
        visibility: visible;
        height: 33%;
        width: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        color: gray;
    }

    .slider-3-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 150px;
        font-size: 32px;
    }

    .slider-movie-3:hover .slider-3-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 10px;
    }

     .slider-3-info-li {
        visibility: hidden;
    }

     .slider-3-description {
        width: 80%;
        visibility: hidden;
    }

     .slider-movie-3:hover .slider-3-description {
         width: 80%;
         transition-delay: 0.5s;
         visibility: visible;
     }

      .slider-movie-3:hover .slider-3-info-li {
         transition-delay: 0.5s;
         visibility: visible;
     }

     // movie 4

  
      .slider-movie-4 {
        margin-top: -80px;
        width: 25%;
        background-color: white;
        background-image: linear-gradient(to top, rgba(31, 93, 185, 0.6) 0%, rgba(255, 255, 255, 0.1) 70%), image_url('kung_movie_5');
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        cursor: pointer;
        
    }

    .slider-4-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        width: 100%;
        height: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column
    }
    
    .slider-4-info-details {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        height: 75%;
        width: 100%;
        margin: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }

    .slider-movie-4:hover .slider-4-info {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        background-color:rgba(31, 93, 185, 0.9);
    }

    .slider-movie-4:hover .slider-info-buttons {
        transition-delay: 0.5s;
        visibility: visible;
        height: 33%;
        width: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        color: gray;
    }

 

    .slider-4-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 150px;
        font-size: 32px;
    }

    .slider-movie-4:hover .slider-4-title {
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        margin-top: 10px;
    }

    .slider-movie-4:hover .slider-movie-4 {
        box-shadow: 3px 3px black;
    }

     .slider-4-info-li {
        visibility: hidden;
    }

     .slider-4-description {
        visibility: hidden;
        width: 80%;
    }

     .slider-movie-4:hover .slider-4-description {
          width: 80%;
         transition-delay: 0.5s;
         visibility: visible;
     }

      .slider-movie-4:hover .slider-4-info-li {
         transition-delay: 0.5s;
         visibility: visible;
     }

     .shows-container {
        margin-top: 20px;
     }

     .movies-container {
         margin-top: 20px;
     }

      .shows-container-title {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    
    .movies-container-title {
        margin-top: 300px;
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .showcase-container {
        margin-top: 20px;
        width: 100%;
        height: 375px;
        display: flex;
    }




    //SHOWCASE FEATURES

    .showcase-items {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        height: 100%;
        width: 50%
    }

    .showcase-items-details {
        font-family: 'Raleway', sans-serif;
        position: relative;
        top: 250px;
        left: 20px;
        height: 100px;
        width: 400px;
        color: white;
        font-size: 32px;
        font-weight: 200;
    }

    .showcase-details {
        margin-top: 20px;
        font-size: 16px;
    }

    .showcase-item-1-img {
        background-image: image_url('walkerwide.jpeg');
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .showcase-item-2-img {
        background-image: image_url('badlandswide.png');
        height: 100%;
        background-size: cover;
        background-position: center;
    }


    .showcase-items {
        // display: flex;
        display: absolute;
        flex-direction: column;
        border: 1px solid black;
        height: 100%;
        width: 50%
    }

    .showcase-items:hover {
        //  transform: scale(1.25);
    }

    .showcase-item-3-img {
        background-image: image_url('the-matrix.jpg');
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .showcase-item-4-img {
        background-image: image_url('panda-land.jpg');
        height: 100%;
        background-size: cover;
        background-position: center;
    }


    //SHOWCASE 1
    .showcase-details-1 {
        // transition-delay: 0.5s;
        // transition-duration: 0.5s;
        position: absolute;
        visibility: hidden;
        box-sizing: border-box;
        bottom: 0;
        font-size: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        background-color: rgb(59, 7, 75);
        padding: 15px;
    }

    .showcase-item-1-img:hover .showcase-details-1 {
        position:absolute;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        visibility: visible;
        height: 150px;
    }

    .showcase-item-1-img:hover .showcase-items-details {
        position: absolute;
        visibility: visible;
        transition-delay: 0.5s;
        // animation: fadein 2s;
    }

    .showcase-btn-extra-1 {
        font-size: 14px;
    }

     .showcase-item-1-img:hover {
       transition-delay: 0.5s;
       transition-duration: 0.5s;
       transform: scale(1.10);
    }
    

    //SHOWCASE 2


    .showcase-details-2 {
        // transition-delay: 0.5s;
        // transition-duration: 0.5s;
        position: absolute;
        visibility: hidden;
        box-sizing: border-box;
        bottom: 0;
        font-size: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        background-color: rgb(59, 7, 75);
        padding: 15px;
    }

    .showcase-item-2-img:hover .showcase-details-2 {
        position:absolute;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        visibility: visible;
        height: 150px;
    }

    .showcase-item-2-img:hover .showcase-items-details {
        position: absolute;
        visibility: visible;
        transition-delay: 0.5s;
        // animation: fadein 2s;
    }

    .showcase-btn-extra-2 {
        font-size: 14px;
    }

     .showcase-item-2-img:hover {
       transition-delay: 0.5s;
       transition-duration: 0.5s;
       transform: scale(1.10);
    }
    
    //SHOWCASE 3


    .showcase-details-3 {
        // transition-delay: 0.5s;
        // transition-duration: 0.5s;
        position: absolute;
        visibility: hidden;
        box-sizing: border-box;
        bottom: 0;
        font-size: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        background-color: rgb(59, 7, 75);
        padding: 15px;
    }

    .showcase-item-3-img:hover .showcase-details-3 {
        position:absolute;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        visibility: visible;
        height: 150px;
    }

    .showcase-item-3-img:hover .showcase-items-details {
        position: absolute;
        visibility: visible;
        transition-delay: 0.5s;
        // animation: fadein 2s;
    }

    .showcase-btn-extra-3 {
        font-size: 14px;
    }

     .showcase-item-3-img:hover {
       transition-delay: 0.5s;
       transition-duration: 0.5s;
       transform: scale(1.10);
    }
    
    //SHOWCASE 4

    .showcase-details-4 {
        // transition-delay: 0.5s;
        // transition-duration: 0.5s;
        position: absolute;
        visibility: hidden;
        box-sizing: border-box;
        bottom: 0;
        font-size: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        background-color: rgb(59, 7, 75);
        padding: 15px;
    }

    .showcase-item-4-img:hover .showcase-details-4 {
        position:absolute;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        visibility: visible;
        height: 150px;
    }

    .showcase-item-4-img:hover .showcase-items-details {
        position: absolute;
        visibility: visible;
        transition-delay: 0.5s;
        // animation: fadein 2s;
    }

    .showcase-btn-extra-4 {
        font-size: 14px;
    }

     .showcase-item-4-img:hover {
       transition-delay: 0.5s;
       transition-duration: 0.5s;
       transform: scale(1.10);
    }
    
    .next-videos-button {
        position: absolute;
        left: 95.25%;
        margin-top: 4%;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        height: 3.5vw;
        width: 3.5vw;
        z-index: 1000;
        box-shadow: 2px 2px 10px 2px lightgray;
        font-size: 18px;
    }

    .next-videos-button:hover {
        cursor: pointer;
    }

    .next-videos-button:active {
        margin-top: 4.25%;
    }

    .slider-detail {
        margin-right: 20px;
    }

    .slider-add {
        margin-right: 20px;
    }