
.masthead {
    height: 800px;
    background-image: url('./kungfuluSplashBackground.jpg');
    background-size: 100% 100%;
    margin-top: -82px;
    display:flex;
}

.masthead-container {
    align-items: center;
    text-align: center;
    padding: 60px 40px;
    border: 5px solid white;
    color: white;
    position: relative;
    display: flex;
    margin-top: 200px;
    width: 100%;
    flex-direction: column;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    height: 400px;
    
}

.masthead-headline {
    font-size: 48px;
    font-weight: 100;
    line-height: 56px
}

