.my-stuff-container {
    margin-top: 82px;
    height: 40em;
}

.my-stuff-top-bar {
    width: 100%;
    height: 210px;
    background-color: #EBEDF2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.top-bar-text {
    padding-left: 4%;
}

.top-bar-header {
    font-size: 48px;
    color: #282C33;
}

.plus-sign {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.stuff-category-results {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.stuff-movie-results {
    display: flex;
    height: 16em;
}

.stuff-show-results {
    display: flex;
}

.stuff-result-title {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #292C33;
    font-size: 20px;
    font-weight: 900;
}

.stuff-no-results {
    font-size: 42px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin-top: 10%;
    margin-left: 2.5%;
}