<!DOCTYPE html>
<html>
  <head>
    <title>KungFulu</title>
    <%= csrf_meta_tags %>
     <script type="text/javascript">
      
    </script>
    <script src="https://use.fontawesome.com/b1cdd3587a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,800|Titillium+Web:200&display=swap" rel="stylesheet">   
     <link href="https://fonts.googleapis.com/css?family=Raleway:200&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
     <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
